h1 {
  font-size: 60pt;
  margin: -10px;
}

p {
  font-size: 18pt;
}

ul {
  margin: 5px;
  font-size: 12pt;
}

li {
  padding: 8px;
}


footer {
  font-size: 14px;
  padding: 2px;
}

#info-title,
header,
footer {
  text-align: center;
}

#main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #666BFF;
  color: #ffffff;
}

#description {
  font-size: 22pt;
  margin: 20px;
}

#img-div {
  background-color: #FF8380;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16pt;
  padding: 3%;
  border: 2px solid white;
  border-radius: 25px;
  box-shadow: 1px 1px 10px #000000;

}

#img-div img {
  border: 4px solid #666BFF;
  border-radius: 250px;
  width: 100%;
  max-width: 600px;
}

#tribute-info {
  margin-top: 4%;
  margin-bottom: 4%;
}

#quote {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2%;
  margin: 2%;
  font-size: 18px;
  text-align: justify;
  border: 1px solid white;
  box-shadow: 1px 1px 10px #000000;
  border-radius: 15px;
}

#info-title {
  font-size: 30pt;
}

#img-caption{
  font-size: 22pt;
}

#img-caption,
#tribute-info {
  text-align: justify;
}

#tribute-link {
  color: white;
}

#info-timeline {
  padding: 0% 5% 2% 5%;
}
